engine-strict=true
# Set URL for your scoped packages.
# For example package with name `@my-org/my-package` will use this URL for download
 @platform:registry=https://gitlab.com/api/v4/projects/< gitlab project_id >/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.
'//gitlab.com/api/v4/packages/npm/:_authToken'="< gitlab deploy_token >"

# Add token for uploading to the registry. Replace <your-project-id>
# with the project you want your package to be uploaded to.
'//gitlab.com/api/v4/projects/< gitlab project_id >/packages/npm/:_authToken'="< gitlab deploy_token >"

